body {
    padding-top: 20px;
}

.icon {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.text {
    margin-left: 60px;
}

.time {
    margin-left: 60px;
}

.nav-bot-top li {
    text-align: center;
}

.nav-bot-top li a,
.nav-bot-top li a:hover {
    padding: 10px 0 0 0;
}

.nav-bot-top li i,
.nav.nav-bot-top li a span {
    display: inline-block;
}

.nav.nav-bot-top li a span {
    position: relative;
    top: -12px;
}

@media(max-width: 360px) {
    .nav.nav-bot-top li a span {
        display: none;
    }
}