<div class="twit-item">
  <div class="header">
    <img class="icon" src={{iconPath}}></img>
    <strong class="user-full-name">{{userName}}</strong>
    <small class="user-id">{{userID}}</small>
  </div>
  <p class="text">
    {{text}}
  </p>
  <div class="footer">
    <small class="time">{{time}}</small>
  </div>
</div>